name: ci 
on:
  push:
    branches:
      - main
    pull_request:
      - main

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@064fe7f3312418007dea2b49a19844a9ee378f49
      - uses: actions/setup-python@4f41a90a1f38628c7ccc608d05fbafe701bc20ae
        with:
          python-version: 3.x
      - run: pip install -U mkdocs-material 
      - run: mkdocs gh-deploy --force
