name: ci 
on:
  push:
    branches:
      - main
    pull_request:
      - main

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.x
      - run: pip install -U mkdocs-material 
      - run: mkdocs gh-deploy --force
